.success {
  color: green;
  font-weight: 500;
  background: rgb(207, 205, 205);
  font-size: 20px;
  border: solid 4px green;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: 500;
  background: rgb(207, 205, 205);
  font-size: 20px;
  border: solid 4px red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}